body {
  margin-left: auto;
  margin-right: auto;
  background: url("../src/background.jpg");
	background-size:cover
}
img{
  width: 20%;
  height:20%;
}

h1 {
  font-style: italic;
  color:white;
}
h3{
  font-style: italic;
  color:white;
}
ul a {
  color:red;
  margin: 15px;
}

p{
  color:white;
}

footer {
  margin-top: 40%;
  padding: 20px;
  background:rgba(249, 249, 249, 0.7);
}

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header ul {
  list-style: none;
  display:inline-block;
  margin:0;
  padding:0;
  color:black;
}

nav{
  padding: 10px;
  background:rgba(249, 249, 249, 0.7);
}
header li {
  display: inline;
}
a:link {
  text-decoration: none;
}
